@import "../../../variables";

app-chart,
app-timeline{
    transform:scale(1);
    transition: all $animTime ease-in-out;
    width:100%;
    overflow: hidden;
}
.chartLoader{
    position:absolute;
    top:0;
    left:0;
    display:none !important;
    align-items:center !important;
    justify-content: center !important;
    width: 100%;
    height: 100%;
    padding:0 !important;
    background:$white;
    z-index:2;
    transform:scale(0);
    transition: all $animTime ease-in-out;
    
    &.loading{
        display:flex !important;
        transform:scale(1);
        ~ app-chart,
        ~ app-timeline{
            transform:scale(0);
            overflow:hidden;
            transition: all $animTime ease-in-out;
        }
    }
}
.block-chart{
    min-height:80px;
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid $color1;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }